# Copyright 2023, Victor Chavez
# SPDX-License-Identifier: Apache-2.0

config BLE_UTILS
    bool "BLE Utils"
    select BT_GATT_DYNAMIC_DB
    default n
    help
        Enables the BLE Utils Module
        
if BLE_UTILS

config BLE_UTILS_MAX_ATTR
	int "Maximum attributes entry for Service"
	range 1 30
	default 10
	help
	  Number of attributes a service holds internally.
	  At least one is required for the service. Each BLE Char
	  requires between two or three attributes (Notify,indicate respectively).
      

module = BLEUTILS
module-str = ble-utils

endif
